<h1 style="text-align: center;"><a title="Data Prep-AIMS-Cmr-2024-25">Quiz 4, Data Prep, AIMS Sen25 </h1>

**Instructor:** 

* Rockefeller

# Working with Time Data

## 1. Parse the following date string `"2024#12#25"` using `pd.to_datetime()` with the appropriate format parameter.

In [1]:
import pandas as pd

In [9]:
dt = pd.to_datetime("2024#12#25", format= "%Y#%m#%d")

dt

Timestamp('2024-12-25 00:00:00')

## 2: Convert the string `"December-25-2024"` to a `pandas Timestamp` using the correct format specification.

In [24]:
pd.Timestamp("December-25-2024")

Timestamp('2024-12-25 00:00:00')

## 3. Run the command below to generate a dataframe

In [2]:
import numpy as np
my_initial_df = pd.DataFrame({'year': list(np.random.randint(2000,2025,10)), 
                   'month': list(np.random.randint(1,13,10)), 
                   'day': list(np.random.randint(1,29,10)), 
                   'hour': list(np.random.randint(0,24,10)), 
                   'meal_menu': ['mafe', 'yassa', 'cebon', 'soup', 'mafe', 'grilled fish', 'grilled fish', 'yassa', 'cebon', 'soup']})
my_initial_df['date'] = pd.to_datetime(my_initial_df[['year', 'month', 'day', 'hour']])


my_initial_df  = my_initial_df.drop(columns=['year', 'month', 'day', 'hour'])
my_initial_df = my_initial_df[['date', 'meal_menu']]
my_initial_df

                 date     meal_menu
0 2010-12-28 07:00:00          mafe
1 2008-08-09 15:00:00         yassa
2 2005-08-09 09:00:00         cebon
3 2020-03-26 23:00:00          soup
4 2018-01-09 14:00:00          mafe
5 2004-02-22 19:00:00  grilled fish
6 2007-08-05 07:00:00  grilled fish
7 2010-03-04 18:00:00         yassa
8 2010-09-20 17:00:00         cebon
9 2009-07-25 14:00:00          soup

In [4]:
my_initial_df.dtypes

date         datetime64[ns]
meal_menu            object
dtype: object

## Use the .unique() to display all the distinct meal menus that are listed on the dataframe

In [3]:
my_initial_df["meal_menu"].unique()

array(['mafe', 'yassa', 'cebon', 'soup', 'grilled fish'], dtype=object)

## 4. On what date(s) did they cook the meal named `'grilled fish'`? 
Write the code for it.

In [5]:
grilled_fish_day = my_initial_df[my_initial_df["meal_menu"] == "grilled fish"]

grilled_fish_day

                 date     meal_menu
5 2004-02-22 19:00:00  grilled fish
6 2007-08-05 07:00:00  grilled fish

# 5. Which day(s) name exactly do(es) that corrspond to? 
(Hint: you can use `data_frame['column_name'].dt.day_name()`)

In [6]:
grilled_fish_day["date"].dt.day_name()

5    Sunday
6    Sunday
Name: date, dtype: object

 ## Suppose you are given the following date to parse: `'2025 KEUR 12***04'` . Run the code below

In [10]:
saly_date_coerce = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %m--%d',
                   errors='coerce')
saly_date_coerce

NaT

## 6. We have passed in `ignore` as parameter. Describe what exactly happen?

In [11]:

saly_date_ignore = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %m--%d',
                   errors='ignore')
saly_date_ignore

'2025 KEUR 12***04'

The separator between month and day is "***" instead of "--%" listed in the format. When we use coerce, it passed NaT because the format was incorrect but when we use ignore, the function simply ignores the error and returns the original entry.

## 7. We have passed in `raise` as parameter. Describe what exactly happen?

In [12]:

saly_date_raise = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %m--%d',
                   errors='raise')
saly_date_raise

ValueError: time data '2025 KEUR 12***04' does not match format '%Y KEUR %m--%d' (match)

Raise causes an error message to be displayed because the format in the data entered is not the same as the format given inside the paranthesis.

## 8. Provide the appropriate format to resolve the issue.

In [14]:
saly_date = pd.to_datetime('2025 KEUR 12***04', format='%Y KEUR %m***%d')
saly_date

Timestamp('2025-12-04 00:00:00')

## 9. Create a Timedelta object representing:  `5 days, 3 hours, and 30 minutes` and add `two weeks 10 minutes` that.

In [17]:
td_1 = pd.Timedelta("5D 3hours 30minutes")

td_1

Timedelta('5 days 03:30:00')

In [32]:
td_2 = pd.Timedelta(2, unit="W") + pd.Timedelta("10minutes")

td_2

Timedelta('14 days 00:10:00')

In [33]:
tt = td_1 + td_2

tt

Timedelta('19 days 03:40:00')

## 10. Generate a date range starting from  `'2025-11-05'` with every 4 days period until the `30th of December 2025`.

In [38]:
nov_to_dec = pd.date_range("2025-11-05", "30-December-2025", freq="4D")

nov_to_dec

DatetimeIndex(['2025-11-05', '2025-11-09', '2025-11-13', '2025-11-17',
               '2025-11-21', '2025-11-25', '2025-11-29', '2025-12-03',
               '2025-12-07', '2025-12-11', '2025-12-15', '2025-12-19',
               '2025-12-23', '2025-12-27'],
              dtype='datetime64[ns]', freq='4D')