# From 001_Intro_to_dataclasses notebook

### ✏️ **Practice Exercise 1: African Literature**

Create dataclass instances for these famous African books:
1. "Things Fall Apart" by Chinua Achebe (Nigeria), 209 pages, published 1958
2. "Half of a Yellow Sun" by Chimamanda Ngozi Adichie (Nigeria), 433 pages, published 2006
3. "Nervous Conditions" by Tsitsi Dangarembga (Zimbabwe), 204 pages, published 1988

**Tasks:**
- Create three Book instances with the data above
- Store them in a list called `african_books`
- Print all three books
- Calculate and print the average number of pages
- Find and print the oldest book

**Hint:** Use a for loop to iterate through the list!

In [7]:
from dataclasses import dataclass

@dataclass
class Book:
    title: str
    author: str
    country: str
    pages: int 
    year_published : int

In [11]:
book_1 = Book(title = "Things Fall Apart", author = "Chinua Achebe", country = "Nigeria", pages = 209, 
              year_published = 1958 )
book_1

Book(title='Things Fall Apart', author='Chinua Achebe', country='Nigeria', pages=209, year_published=1958)

In [17]:
book_2 = Book(title = "Half of a Yellow Sun", author = "Chimamanda Ngozi Adichie", country = "Nigeria", pages = 433, 
              year_published = 2006 )
book_2

Book(title='Half of a Yellow Sun', author='Chimamanda Ngozi Adichie', country='Nigeria', pages=433, year_published=2006)

In [18]:
book_3 = Book(title = "Nervous Conditions" , author = "Tsitsi Dangarembga", country = "Zimbabwe", pages = 204, 
              year_published = 1988 )
book_3

Book(title='Nervous Conditions', author='Tsitsi Dangarembga', country='Zimbabwe', pages=204, year_published=1988)

In [19]:
african_books = [book_1, book_2, book_3]

african_books

[Book(title='Things Fall Apart', author='Chinua Achebe', country='Nigeria', pages=209, year_published=1958),
 Book(title='Half of a Yellow Sun', author='Chimamanda Ngozi Adichie', country='Nigeria', pages=433, year_published=2006),
 Book(title='Nervous Conditions', author='Tsitsi Dangarembga', country='Zimbabwe', pages=204, year_published=1988)]

In [23]:
average = (book_1.pages + book_2.pages + book_3.pages)/3

average

282.0

In [29]:
if book_1.year_published < book_2.year_published and book_1.year_published < book_3.year_published:
    print(f"{book_1.title} is the oldest book")
elif book_2.year_published < book_1.year_published and book_2.year_published < book_3.year_published:
    print(f"{book_2.title} is the oldest book")
else:
    print(f"{book_3.title} is the oldest book")

Things Fall Apart is the oldest book

# Now the tutorial exercises

### **Part 1: Basic Dataclass Construction**

**Exercise 1: Senegalese Market Goods**

In a Dakar market, you find beautiful handmade baskets woven from palm leaves costing 5000 CFA each, and colorful wax print fabric sold at 8000 CFA per 6-yard piece.

Create two separate dataclasses: `Basket` and `Fabric` with appropriate attributes.

In [30]:
from dataclasses import dataclass

@dataclass
class Basket:
    Material: str
    Price: float

In [31]:
@dataclass
class Basket:
    Type: str
    Price: float
    Unit: int

**Exercise 2: Cameroonian Wildlife**

In Cameroon's rainforests, you might spot the Goliath frog which can grow up to 32 cm long, or hear the African grey parrot known for its impressive intelligence.

Create two separate dataclasses: `Frog` and `Parrot` with appropriate attributes.

In [32]:
from dataclasses import dataclass

@dataclass
class Frog:
    Type: str
    Length: float

In [34]:
@dataclass
class Parrot:
    Type: str
    Colour: str
    Characteristic: str

### **Part 2: Same Perspective, Multiple Objects**

**Exercise 3: Malian Farmers**

In Mali, farmer Boubacar Traoré cultivates millet on 5 hectares of land, while his neighbor Fatoumata Diarra grows sorghum on 8 hectares.

Create a single `Farmer` dataclass and make two instances with attributes like name, crop, and farm_size.

In [36]:
from dataclasses import dataclass

@dataclass
class Farmer:
    name: str
    crop: str
    farm_size: float

In [38]:
Farmer_1 = Farmer(name = "Boubacar Traoré", crop = "millet", farm_size = 5)
Farmer_1

Farmer(name='Boubacar Traoré', crop='millet', farm_size=5)

In [39]:
Farmer_2 = Farmer(name = "Fatoumata Diarra", crop = "sorghum", farm_size = 8)
Farmer_2

Farmer(name='Fatoumata Diarra', crop='sorghum', farm_size=8)

**Exercise 4: Sudanese Healthcare Workers**

At a Khartoum clinic, Dr. Hassan Ahmed treats an average of 40 patients daily, while Nurse Amina Mohammed cares for 25 patients each day.

Create a single `MedicalStaff` dataclass and make two instances with appropriate attributes.

In [40]:
from dataclasses import dataclass

@dataclass
class MedicalStaff:
    name: str
    profession: str
    average_patients: int

In [41]:
MedicalStaff_1 = MedicalStaff(name = "Hassan Ahmed", profession = "Doctor", average_patients = 40)
MedicalStaff_1

MedicalStaff(name='Hassan Ahmed', profession='Doctor', average_patients=40)

In [42]:
MedicalStaff_2 = MedicalStaff(name = "Amina Mohammed", profession = "Nurse", average_patients = 25)
MedicalStaff_2

MedicalStaff(name='Amina Mohammed', profession='Nurse', average_patients=25)

### **Part 3: Multiple Perspectives on Same Entity**

**Exercise 5: The Baobab Tree (Senegal)**

The ancient baobab tree in a Senegalese village is 300 years old and 25 meters tall. Local tradition considers it a sacred meeting place, while ecologists study its role in the ecosystem.

- Create a `SacredTree` dataclass with cultural attributes
- Create an `EcologicalSpecimen` dataclass with scientific attributes
- Make one instance for the baobab tree using each perspective

In [3]:
from dataclasses import dataclass

@dataclass
class SacredTree:
    name: str
    age: str
    purpose: str

In [45]:
cultural_attributes = SacredTree(name = "Baobab tree", age = "very old tree", purpose = "Sacred meeting place")
cultural_attributes

SacredTree(name='Baobab tree', age='very old tree', purpose='Sacred meeting place')

In [44]:
@dataclass
class EcologicalSpecimen:
    name: str
    age: int
    height: float

In [46]:
scientific_attributes = EcologicalSpecimen(name = "Baobab tree", age = 300, height = 25)
scientific_attributes

EcologicalSpecimen(name='Baobab tree', age=300, height=25)

**Exercise 6: Nigerian Entrepreneur**

Chinedu Okoro runs a Lagos-based tech startup with 15 employees. Outside work, he's a father of three who enjoys playing football on weekends.

- Create a `BusinessOwner` dataclass with professional attributes
- Create a `FamilyPerson` dataclass with personal attributes  
- Make one instance for Chinedu using each perspective

In [50]:
from dataclasses import dataclass

@dataclass
class BusinessOwner:
    name: str
    position: str
    company_type: str
    location: str
    number_of_employees: int

In [51]:
@dataclass
class FamilyPerson:
    name: str
    hobbies: str
    number_of_children: int

In [52]:
professional_attributes =  BusinessOwner(name = "Chinedu Okoro", position = "CEO", company_type = "Tech start-up", 
                                        location = "Lagos", number_of_employees = 15)
professional_attributes

BusinessOwner(name='Chinedu Okoro', position='CEO', company_type='Tech start-up', location='Lagos', number_of_employees=15)

In [53]:
personal_attributes  = FamilyPerson(name = "Chinedu Okoro", hobbies = "Football", number_of_children = 3)
personal_attributes

FamilyPerson(name='Chinedu Okoro', hobbies='Football', number_of_children=3)

### **Part 4: Multiple Perspectives on Different Entities**

**Exercise 7: Ghanaian Education & Agriculture**

In Kumasi, Professor Kwame Asante has taught mathematics for 20 years and published 15 research papers. Meanwhile, cocoa farmer Akua Mensah harvests 2 tons of cocoa beans annually from her 10-acre farm.

- Create an `Academic` dataclass for the professor
- Create an `AgriculturalProducer` dataclass for the farmer
- Make appropriate instances for both people

In [58]:
from dataclasses import dataclass

@dataclass
class Academic:
    name: str
    profession: str
    specialisation: str
    experience: int
    number_of_published_papers: int

In [59]:
professor = Academic(name = "Kwame Asante", profession = "Professor", specialisation = "mathematics", 
                     experience = 20, number_of_published_papers = 15)
professor

Academic(name='Kwame Asante', profession='Professor', specialisation='mathematics', experience=20, number_of_published_papers=15)

In [62]:
@dataclass
class AgriculturalProducer:
    name: str
    profession: str
    specialisation: str
    size_of_farm: float
    total_produce: float

In [63]:
farmer = AgriculturalProducer(name = "Akua Mensah", profession = "Farmer", specialisation = "Cocoa", 
                              size_of_farm = 10, total_produce = 2)
farmer

AgriculturalProducer(name='Akua Mensah', profession='Farmer', specialisation='Cocoa', size_of_farm=10, total_produce=2)

**Exercise 8: Ethiopian Tourism & Conservation**
The Simien Mountains in Ethiopia attract 50,000 tourists yearly for hiking, while conservationists work to protect the endangered Ethiopian wolf with only 500 remaining in the wild.

- Create a `TouristDestination` dataclass for the mountains
- Create an `EndangeredSpecies` dataclass for the wolf
- Make appropriate instances for both

In [64]:
from dataclasses import dataclass

@dataclass
class TouristDestination:
    name: str
    location: str
    number_of_tourists: int

In [67]:
mountains = TouristDestination(name = "Simien mountains", location = "Ethiopia", number_of_tourists = 50000)
mountains

TouristDestination(name='Simien mountains', location='Ethiopia', number_of_tourists=50000)

In [69]:
@dataclass
class EndangeredSpecies:
    name: str
    number_remaining: int

In [71]:
wolf = EndangeredSpecies(name = "Ethiopian Wolf", number_remaining = 500)
wolf

EndangeredSpecies(name='Ethiopian Wolf', number_remaining=500)